/* Cleaning Elements' Defaults */

@font-face {
    font-family: Rubik;
    src: url("../fonts/Rubik-Regular.ttf")
}

@font-face {
    font-family: 'Lato-Regular';
    src: url('../fonts/lato/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('../fonts/lato/Lato-Bold.ttf');
}

@font-face {
    font-family: 'Impact';
    src: url('../fonts/impact/impact.ttf');
}

/* Cleaning */

* {
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    /* smooth scrolling for ios */
}

body {
    margin: 0;
    padding-top: 50px;
    font-family: 'Lato-Regular';
    width: 100vw;
    height: 100vh;
}

/* dont remove */

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

section {
    padding-top: 50px;
}

a[download] {
    color: blue;
}

a[download]:hover {
    text-decoration: underline;
}

.canvas-container>a[download] {
    font-size: 19px;
    order: 3;
}

input, button {
    /* padding: 3px; */
    border-radius: 7px;
    cursor: pointer;
}

button:focus, input:focus {
    outline: none;
}

input[type=text], input[type=search] {
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0px;
    text-align: center;
}

.default-max-width {
    max-width: 1200px;
}

.ui button {
    font-size: 17px;
}

.emojis-container {
    width: 100%;
    background-color: lightgray;
    padding: 10px;
    overflow: scroll;
    height: 120px;
    /* max-width: 800px; */
}

.emojis-container>* {
    cursor: pointer;
    font-size: 23px;
    margin-right: 10px;
}

.meme-svgs-container {
    width: 100%;
    background-color: black;
    padding: 10px;
    overflow: scroll;
    overflow-x: scroll;
}

.meme-svgs-container img {
    cursor: pointer;
    width: 50px;
    height: 50px;
}



input[type=search] {
    font-family: Impact;
    font-size: 34px;
}

input:disabled, button:disabled {
    opacity: 0.3;
    cursor: default;
}

header {
    background-color: #323232;
    color: #fff;
    /* display: flex; */
    /* justify-content: center; */
    align-items: center;
    z-index: 30;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50px;
}

.header-container {
    /* padding: 0 auto; */
    height: 30px;
    margin: 10px auto;
    max-width: 800px;
    display: flex;
    align-items: center;
}

img.logo {
    height: 30px;
}

img.logo:hover {
    animation: jiggle .4s;
}

.large-logo:hover {
    animation: small-jiggle .4s;
}

.header-container>* {
    margin-left: 20px;
}

header a:hover {
    color: #2eb398;
}

.hidden {
    position: absolute;
    left: -5000px;
}

.container {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container-horizontal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Canvas */

.sect-canvas-wrapper {
    background-color: #f3f2f2;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sect-canvas {
    margin: 0 auto;
    padding: 20px 0;
}

.trans-hidden {
    transform: scale(0);
    position: absolute;
}

.trans-shown {
    transition: 1s;
    /* transform: scale(1); CAUSING A BUG!!! COMMENT OUT! */
    /* position: static; */
}

/*  */

.canvas-container {
    max-width: 900px;
    margin: 0 auto;
    width: 60%;
}

.secondary-canvas {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* .canvas-container>* {
    margin-bottom: 20px;
} */

.left-nav>*:not(:last-child) {
    margin-right: 20px;
}

.right-nav>*:not(:first-child) {
    margin-left: 20px;
}

#sizing {
    border: 1px solid black;
    min-height: 10px;
    min-width: 10px;
}

button:disabled {
    color: black;
}

.images-container {
    max-width: 100vw;
}

.images {
    grid-template-columns: repeat(4, minmax(100px, 23vw));
    height: auto;
}

.grid-item {
    height: 20vw;
}

.images>div>img {
    /* width:100px; */
    cursor: pointer;
    object-fit: cover;
    width: 20vw;
    height: 17vw;
    max-width: 20vw;
    transition: .2s;
}

.images>div>img:hover:not(.selected) {
    opacity: 0.9;
    /* transform: scale(1.1); */
    /* transition: .2s; */
}

img.selected {
    box-shadow: 9px 11px 11px #170606;
    z-index: 10;
    transform: scale(1.1);
    /* height: 20vw !important; */
    /* position: absolute; */
    transition: .2s;
}

.ui {
    width: 95%;
    max-width: 800px;
}

.ui-edit {
    width: 100%;
    /* position: absolute; */
    /* background-color: gray; */
    /* min-width: 350px; */
}

.ui-edit>* {
    cursor: pointer;
}

.inline-block {
    display: inline-block;
}

.flow-col {
    flex-flow: row;
}

/* About us */

.about-us {
    /* max-width: 800px; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.about-us .first :first-child, .about-us .second :first-child {
    margin-right: 20px;
}

section .first {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}


section .second {
    display: flex;
    align-items: center;
    /* flex-direction: row-reverse; */
}
section .second img, section .first img {
    height: 43vw;
}

.first>img, .second>img {
    height: 17vw;
}

/*  */

/* footer */

footer {
    background-color: #2FB298;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-container {
    max-width: 800px;
    /* margin: 0 auto; */
}

.footer-container :first-child {
    margin-right: 20px;
}

.contact-us {
    background-color: rgb(20, 18, 18);
    min-width: 100px;
}

/* b: needed for the editable divs */

.canvas-wrap {
    position: relative;
    /* align-items: center; */
}

canvas {
    cursor: crosshair;
    border: 1px solid red;
}

/* b: text-box is the class of the editable div */

.text-box {
    background-color: transparent;
    padding: 20px;
    cursor: pointer;
    z-index: 100;
    position: absolute;
    top: 0;
    font-family: Impact;
    font-size: 50px;
    padding: 13px 0;
    padding-right: 25px;
    white-space: nowrap;
    color: transparent;
    caret-color: blue;
}

.text-box:focus {
    border: 1px dotted blue;
}

/* Helpers */

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.justify-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.uppercase {
    text-transform: uppercase;
}

.pointer {
    cursor: pointer;
}

.mg-bottom {
    margin-bottom: 20px;
}

/* 

div {
    resize: both;
    overflow: auto;
    font-size: auto;
    min-width: 50px;
}  */

/* keywords css */

.keywords {
    text-align: center;
    width: 90%;
    margin: 10px 0;
}

span.keyword {
    padding: 10px;
    display: inline-block;
    cursor: pointer;
}

span.keyword:hover {
    color: orange;
}

.image-keywords-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.image-keywords-container>.image-keywords {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.image-keywords-container>.image-keywords>span {
    /* flex-grow: 1; */
    background-color: lightgray;
    border-radius: 7px;
    padding: 7px;
    margin: 5px;
    min-width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
}

.image-keywords-container input[type=text] {
    font-size: 17px;
    margin-bottom: 20px;
}

.image-keywords-container i {
    color: rgb(44, 36, 36);
    margin-left: 15px;
}

.keywords {
    text-align: center;
    width: 100%;
    font-size: 13px;
    max-width: 1110px;
}

.keyword-tag {
    padding: 3px;
    cursor: pointer;
}

.keyword-tag.selected {
    color: orange;
}


#sect-about-us {
    display: none;
}


@media (max-width:670px) {

    #sect-about-us {
        display: block;
    }

    .sect-canvas-wrapper {
        height: auto;
    }
    .sect-canvas {
        flex-direction: column;
    }
    .sect-canvas>* {
        width: 100%;
    }
    .emojis-container {
        display: none;
    }
    .text-box {
        padding: 5px 0;
        padding-right: 10px;
    }
    /* header {
        background-color: black;
        padding: 30px 0;
    } */
    .ui {
        flex-direction: column;
    }
    /* .ui-edit {
        transform: rotate(-90deg);
        top: 45%;
        left: 53%;
        width: 90%; 
    } */
    input[type=search] {
        font-size: 17px;
        width: 50vw;
    }
    .images {
        grid-template-columns: repeat(4, minmax(20px, 23vw));
        height: auto;
    }
    .images>div>img {
        max-width: 23vw;
    }
    .about-us {
        /* flex-direction: column; */
        padding: 20px;
    }
    .mg-bottom {
        margin-bottom: 10px;
    }
}

/* END MOBILE */

/* INPUT RANGE */

input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 50%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #367ebd;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background: #3071a9;
}

input[type=range]:focus::-ms-fill-upper {
    background: #367ebd;
}

/* Animations */

@keyframes jiggle {
    25% {
        transform: translateY(2px);
    }
    50% {
        transform: translateY(-1px);
    }
    75% {
        transform: translateY(1px);
    }
    100% {
        transform: translate3d(0);
    }
}

@keyframes small-jiggle {
    25% {
        transform: translateY(2px);
    }
    50% {
        transform: translateY(-1px);
    }
    75% {
        transform: translateY(1px);
    }
    100% {
        transform: translate3d(0);
    }
}