* {
    box-sizing: border-box;
}
body { 
    margin: 0;
}

canvas {
    border: 1px solid red;
}
.container {
    background-color: #aaa;
}

#sizing {
    border: 1px solid black;
}

/* Helpers */
.inline-block {
    display: inline-block;
}

.hidden { 
    /* visibility: hidden; */
}