/* Cleaning Elements' Defaults */

@font-face {
    font-family: Rubik;
    src: url("../fonts/Rubik-Regular.ttf")
}

@font-face {
    font-family: NOTImpact;
    src: url("../fonts/HP-Impact.ttf")
}

@font-face {
    font-family: Ahronbd;
    src: url("../fonts/ahronbd.ttf")
}

/* Cleaning */

* {
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch; /* smooth scrolling for ios */
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Rubik;
    width: 100vw;
    height: 100vh;
}

/* dont remove */
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

a[download] {
    color: blue;
}
a[download]:hover {
    text-decoration: underline;
}

.canvas-container>a[download] {
    font-size: 19px;
    order: 3;
}

input, button {
    /* padding: 3px; */
    border-radius: 7px;
    cursor: pointer;
}

.ui button {
    font-size: 17px;
}



input[type=search] {
    font-family: Impact;
    font-size: 34px;
}

input:disabled, button:disabled {
    opacity: 0.3;
    cursor: default;
}

section {
    margin-top: 80px;
}



header {
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 30;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 40px;
}

header a:hover {
    color: #2eb398;
}

.hidden {
    position: absolute;
    left: -5000px;
}

.container {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container-horizontal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.canvas-container {
    /* background-color: red;
    z-index: 200; */
}



.canvas-container>* {
    margin-bottom: 20px;
}

.left-nav>*:not(:last-child) {
    margin-right: 20px;
}

.right-nav>*:not(:first-child) {
    margin-left: 20px;
}

.logo {
    margin: 0 30px;
}

#sizing {
    border: 1px solid black;
    min-height: 10px;
    min-width: 10px;
}

button:disabled {
    color: black;
}

.images-container {
    max-width: 100vw;
}

.images {
    grid-template-columns: repeat(5, minmax(100px, 1fr));
    grid-gap: 5px;
    height: auto;
}

.grid-item {
    height: 20vw;
}

.images>div>img {
    /* width:100px; */
    cursor: pointer;
    width: 20vw;
    height: 17vw;
    max-width: 20vw;
}

.images>div>img:hover {
    opacity: 0.9;
}

img.selected {
    box-shadow: 9px 11px 11px #170606;
    z-index: 10;
    height: 20vw !important;
    /* position: absolute; */
    transition: .4s;
}

.ui{
    width: 95%;
    max-width: 800px;
}
.ui-edit {
    width: 100%;
    /* position: absolute; */
    /* background-color: gray; */
    /* min-width: 350px; */
}

.ui-edit>* {
    cursor: pointer;
}

img {
    height: 30px;
}

.inline-block {
    display: inline-block;
}

.flow-col {
    flex-flow: row;
}

/* footer */

.about-us-container {
    background-color: #2FB298;
}

.about-us {
    height: 50vh;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-us>img {
    background-color: blue;
    width: 30%;
    height: 200px;
}

.about-us>div {
    width: 50%;
}

.contact-us {
    background-color: rgb(20, 18, 18);
    min-width: 100px;
}

/* b: needed for the editable divs */
.canvas-wrap {
    position: relative;
    /* align-items: center; */
}


canvas {
    cursor: crosshair;
    border: 1px solid red;
}

/* b: text-box is the class of the editable div */
.text-box {
    background-color: transparent;
    padding: 20px;
    cursor: pointer;
    z-index: 10;
    position: absolute;
    top:0;
    font-family: Impact;
    font-size: 50px;
    padding: 13px 0;
    padding-right: 25px;
    white-space: nowrap;
    color: transparent;
    caret-color: blue;
}

.text-box:focus {
    border: 1px dotted blue;
}



@media (max-width:670px) {

    .text-box {
        padding: 5px 0;
        padding-right: 10px;
    }


    header {
        background-color: black;
        padding: 30px 0;
    }
    .ui {
        flex-direction: column;
    }


    /* .ui-edit {
        transform: rotate(-90deg);
        top: 45%;
        left: 53%;
        width: 90%; 
    } */

    input[type=search] {
        font-size: 17px;
        width: 50vw;
    }

    .images {
        grid-template-columns: repeat(4, minmax(20px, 23vw));
        height: auto;
    }
    .images>div>img {
        max-width: 23vw;
    }
    .about-us {
        flex-direction: column;
        padding-top: 20px;
    }
    .about-us>img {
        width: 60%;
        flex-grow: 1;
    }
    .about-us>div {
        width: 90%;
        flex-grow: 1;
        text-align: center;
    }

}

/* Helpers */

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.justify-around {
    justify-content: space-around;
}

.uppercase {
    text-transform: uppercase;
}

.pointer {
    cursor: pointer;
}


/* 

div {
    resize: both;
    overflow: auto;
    font-size: auto;
    min-width: 50px;
}  */




